
.form-input-radio[type="radio"]:checked, 
.form-input-radio[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form-input-radio[type="radio"]:checked + .form-label-radio, 
.form-input-radio[type="radio"]:not(:checked) + .form-label-radio {
    display: inline-block;
    position: relative;
    padding-right: 20px;
    line-height: 20px;
    cursor: pointer;  

}

.form-input-radio[type="radio"]:checked + .form-label-radio:before, 
.form-input-radio[type="radio"]:not(:checked) + .form-label-radio:before {
    content: "";
    border-radius: 100%;
    background-color: #ffffff;
    top: 3px;
    width: 12px;
    height: 12px;
    border: 1px solid #dddddd;
        position: absolute;
    right: 3px;
}
    
.form-input-radio[type="radio"]:checked + .form-label-radio:after, 
.form-input-radio[type="radio"]:not(:checked) + .form-label-radio:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form-input-radio[type="radio"]:checked + .form-label-radio:after, 
.form-input-radio[type="radio"]:not(:checked) + .form-label-radio:after {
    right: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ed6d00;
}

.form-input-radio[type="radio"]:not(:checked) + .form-label-radio:after {
    opacity: 0;
}

.form-input-radio[type="radio"]:checked + .form-label-radio:after {
    opacity: 1;
}
