#reg-content,#log-content{
  display: none;
  position: absolute;
  font-size: 12px;
  top: 60px;
  right: 0;
  z-index: 999; 
  background: /*blue; */rgba(255,255,255,.5);
  width: 265px;
  margin: -10px;
  padding-bottom: 10px;
  box-sizing: border-box;
                            box-shadow:  -2px 0.5px 4px 0px rgba(0,0,0,.4);
                              -moz-box-shadow: -2px 0.5px 4px 0px rgba(0,0,0,.4);
                              -webkit-box-shadow: -2px 0.5px 4px 0px rgba(0,0,0,.4);
                            border-radius: 3px 0 0 3px;
                              -moz-border-radius: 3px 0 0 3px;
                              -webkit-border-radius: 3px 0 0 3px;
                              overflow: hidden;
}
.form-title, .form-legend{
  width: 100%;
  background-color: #0079c2;
  text-align: center;
  line-height: 30px;
}
.form-legend{
  
  margin-left: 5px;
  line-height: 20px;
                            border-radius: 3px 0 0 3px;
                              -moz-border-radius: 3px 0 0 3px;
                              -webkit-border-radius: 3px 0 0 3px;

}
.form-inputs{
  margin: 0;
  padding: 5px;
  border: 0;
  width: 100%;
}
fieldset input:focus,textarea:focus, input, select, button {
  outline: none;
  border:none;
}
.form-inputs-p{
  background-color: #0079c2; 
  line-height: 20px;
  margin: 5px 0 5px 5px;

                                border-radius: 3px 0 0 3px;
                              -moz-border-radius: 3px 0 0 3px;
                              -webkit-border-radius: 3px 0 0 3px;}
.form-label{
width: 38%;
text-align: right;

padding: 0 10px;
box-sizing: border-box;

} 
.form-p-opportunies{
  margin-top: 10px
}

.label-opportunies{
  /*max-width: 22%;*/
  font-weight: bold;
  
  /*box-sizing: border-box;*/
}
.form-input-opportunies {
width: 62%;
float: right;
padding-left: 5px;
box-sizing: border-box;                                     
}   
.form-input {
background: #fff;
color:#0079c2;
width: 62%;
float: right;
height: 20px;
padding-left: 5px;
box-sizing: border-box;
z-index: 1005;

                                      -moz-border-radius: 8px 0 0 8px;
                                      -webkit-border-radius: 8px 0 0 8px;
                                     border-radius: 8px 0 0 8px;
                                     
}   
.form-input:focus {
  background-color: #fff;
  border-color: #ed6d00;
  outline: none;
                                      -moz-box-shadow: 0 0 0 1px #c3c0cc82 inset;
                                      -webkit-box-shadow: 0 0 0 1px #c3c0cc82 inset;
                                    box-shadow: 0 0 0 1px #c3c0cc82 inset;
}   

.form-button{
  width: 110px;
text-align: center;
padding: 0 5px 0 0;
  background-color: #0079c2; 
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  
                                      border-radius: 16px 0 0 16px;
box-sizing: border-box;
float: right;
font-weight: bold;
color: #f4f4f4;
}
.form-button:hover{
background-color: #ed6d00;
}
.button-circle{
                                border-radius: 100%;
  margin: 2px;
  display: inline-block;
    *display: inline;
    *zoom: 1;
  float: left;
  width: 16px;
  height: 16px;
  background: url(../images/button-circle.png) 50% 50% #fff no-repeat;
  background-size: 100% auto;
}
#reg-content select{
  background-image: url(../images/select.png);
  background-position: right center;
  background-repeat: no-repeat;
  font-size: 12px;
  /*for WebKit*/
  -webkit-appearance: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
}


@media (max-width: 321px) {
  #log-content,  #reg-content  {
    font-size: 12px;
    max-width: 220px; 
  }
  nav #log-inputs input {
    width: 96%;
  }
  nav #login .submit {
    width: 90px;
  }

}

