#infobox-wrapper{
    display: none;
}

.infobox img{
	background: url(../images/ib-close.png) #fff 50% 50% no-repeat !important;
	display: block;
	width: 14px !important;
	height: 14px !important;
	z-index: 5;
	position: absolute !important;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	text-indent: -4999px;
	border-radius: 14px;
	left: 250px;
}
.infobox img:hover{
	background: url(../images/ib-close-hover.png) #fff 50% 50% no-repeat !important;
display: block;
	width: 14px !important;
	height: 14px !important;
	z-index: 5;
	position: absolute !important;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	text-indent: -4999px;
	border-radius: 14px;
	left: 250px;
}
#wrapper {
	box-sizing: border-box;
	font-size: 12px;
	text-align: left;
	cursor: pointer;
	position: relative;
	
                        box-shadow: 0px -0.5px 4px 0px rgba(0,0,0,.4);
                              -moz-box-shadow: 0px -0.5px 4px 0px rgba(0,0,0,.4);
                              -webkit-box-shadow: 0px -0.5px 4px 0px rgba(0,0,0,.4);

	background: #0079c2;
    left: 0;
    position: absolute;
    top: 0;
    display: block;
    width: 280px;
    height: 30px;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box; 
}
.tabs__tab-bar{
    border-radius: 20px;
    z-index: 1000;
    background-color: #11111126;
    width: 270px;
    height: 20px;
    box-sizing: border-box;
    margin: 5px;
    list-style: none;
}
.tabs__tab{
	display:inline-block;
	cursor:pointer;
	float:left;
	padding: 2px;
}
.tab-trigger{
	padding:3px 10px;
	color: white;
	height: 20px;
	box-sizing: border-box;
	text-decoration: none;
}
.tab-trigger1:hover, .tab-trigger1:focus, .tab-trigger1:active {
	background-color: white;
    color: #ed6d00;
	border-radius: 22px 0 0 22px;
}
.tab-trigger2:hover, .tab-trigger2:focus, .tab-trigger2:active {
	background-color: white;
    color: #ed6d00;
	border-radius: 0 22px 22px 0;
}
.content{
	position: absolute;
	background-color:rgba(255,255,255,.5);
	color:white;
	width:280px;
	left:0;
	top:30px;
	border-radius:0 0 3px 3px;
	box-sizing: border-box;
	overflow: hidden;
	padding: 10px 0 5px 10px;
	box-shadow:  -2px 0.5px 4px 0px rgba(0,0,0,.4);
                              -moz-box-shadow: -2px 0.5px 4px 0px rgba(0,0,0,.4);
                              -webkit-box-shadow: -2px 0.5px 4px 0px rgba(0,0,0,.4);
                           
}
.content2{
	display: none;
} 
.tabs-legend{
  width: 100%;
  background-color: #0079c2;
  text-align: center;
  line-height: 30px;
  margin-left: 5px;
  line-height: 20px;
                            border-radius: 3px 0 0 3px;
                              -moz-border-radius: 3px 0 0 3px;
                              -webkit-border-radius: 3px 0 0 3px;

}
.tabs-inputs-p{
  background-color: #0079c2; 
  line-height: 20px;
  margin: 5px 0 5px 5px;

                                border-radius: 3px 0 0 3px;
                              -moz-border-radius: 3px 0 0 3px;
                              -webkit-border-radius: 3px 0 0 3px;}
.tabs-label{
width: 50%;
text-align: right;

padding: 0 10px;
box-sizing: border-box;
display: inline-block;
text-align: left;
} 
.tabs-input {
background: #fff;
color:#0079c2;
width: 50%;
float: right;
text-align: center;
height: 20px;
/*padding-left: 5px;*/
box-sizing: border-box;
z-index: 1005;
          -moz-border-radius: 8px 0 0 8px;
          -webkit-border-radius: 8px 0 0 8px;
         border-radius: 8px 0 0 8px;                                  
}   
.data-online, .data-waiting, .doc-trigger{
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 2px;
	float: left;
}
.data-online{
	background: url(../images/data-online.png) 50% 50% no-repeat;
  	background-size: 100% auto;
}
.data-waiting{
	background: url(../images/data-waiting.png) 50% 50% no-repeat;
  	background-size: 100% auto;
}
.doc-trigger{
	background: url(../images/doc-trigger.png) 50% 50% #fff no-repeat;
  	background-size: 100% auto;
}
