body{
	font-family: Tahoma,sans-serif !important;
	margin: 0;
  padding: 0;
	font-size: 12px;
  color: #f4f4f4;
}     		
.header-top:before,
.header-top:after {
  content:"";
  display:table;
}	
.header-top:after {
  clear:both;
}
header {
  background-color: #0079c2;
  height: 60px;
  -moz-box-sizing: border-box;  
    box-sizing: border-box;
}
.nav-info{
  z-index: 2;
  background:rgba(255,255,255,.5);
display: block;
width: 100%;
line-height: 30px;
padding-left: 10px;
box-sizing: border-box;
                            box-shadow:  0px 0.5px 4px 0px rgba(0,0,0,.4);
                              -moz-box-shadow: 0px 0.5px 4px 0px rgba(0,0,0,.4);
                              -webkit-box-shadow: 0px 0.5px 4px 0px rgba(0,0,0,.4);

position: absolute;
top: 60px;
color: #0079c2;
}
nav #logo-img{
  /*max-width: 160px;*/
  height: 60px;
  vertical-align: middle;
  background: #11111126;
  }
nav #logo-text{
	color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  line-height: 60px;
  font-size: 14px;
  width: 20%;
  max-width: 30%;
  margin: 0 10px 0; 
}


nav ul {
  margin: 10px;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  border-radius: 40px;
  background-color: #11111126;
  width: 250px;
  box-sizing: content-box;
}		
nav li {
  float: left;          
}	
nav .log-reg{
  height: 40px;
  margin: 0 0 0 10px;
} 
nav #logo-topcon{
  background: url(../images/logo-topcon.png) 50% 50% no-repeat;
  background-size: 100% auto;
  width: 140px;
}
@media (max-width: 568px) {
  nav ul {
    width: 150px;
  }
  nav #logo-topcon{
    background: url(../images/logo-topcon-mobile.png) 50% 50% no-repeat;
    background-size: 100% auto;
    width: 40px;
  }
}
@media (max-width: 468px) {
    nav #logo-text {
      display: none;
    }
}
@media (max-width: 344px) {
    nav #logo-topcon{
      display: none;
    }
    nav ul {
      width: 110px;
    }
}

nav #log-trigger,
nav #reg-trigger {
  display: inline-block;
    *display: inline;
    *zoom: 1;
  height: 40px;
  width: 40px;
  font-weight: bold;
  text-decoration: none;
                                                      border-radius: 100%;
}
nav #log-trigger{
  background: url(../images/login.png) 50% 50% #f4f4f4 no-repeat;
  background-size: 100% auto;
}
nav #reg-trigger {
  background: url(../images/register.png) 50% 50% #f4f4f4 no-repeat;
  background-size: 100% auto;
}
nav #log-trigger:hover, nav #log-trigger.active{
  background: url(../images/login-hover.png) 50% 50% #f4f4f4 no-repeat;
  background-size: 100% auto;
}
nav #reg-trigger:hover {
  background: url(../images/register-hover.png) 50% 50% #f4f4f4 no-repeat;
  background-size: 100% auto;
}

